.modal-title{
    font-size: larger;
    font-weight: bolder;
}

.form-control-x {
    display: inline-block;
}

.d-inline{
    display: inline-block !important;
    margin-bottom: 0.5rem !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}