<header class="container bg-light bordered">
    <div class="row">
        <div class="col-2">
            <a href="/drinks">
                <img src="assets/images/logo.png" alt="logo" width="96">
            </a>
        </div>
        <div class="col-7 flex-centered">
            <ul class="row list-inline">
                <li class="list-item nav-item mx-4 bt">
                    <a href="/drinks">{{ "drinks" | translate }}</a>
                </li>
            </ul>
        </div>
        <div class="col-3 flex-centered text-center" *ngIf="isLoggedIn">
            <em class="btn btn-outline-dark font-weight-bold text-uppercase font-italic">{{ user.firstname+" "+user.lastname}}</em>
            <button type="button" class="btn fa" (click)="logout()">logout</button>
        </div>
    </div>
</header>