.padd{
    padding: 8px 15px !important;
}

.bbr{
    border: 1px solid #777;
    border-top: none;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.fnone{
    border-top: 1px solid #ccc;
    padding: 7px 15px;
}